@model IEnumerable<Talamelli.Lorenzo._5L.Posters.Notizia>

@{
    ViewBag.Title = "Today's News";
}


<body id="immagineSfondo1">

<h2 class="text-capitalize">Le Notizie di oggi <span class="badge">@Model.Count()</span></h2>

<div class="container-fluid" style="background:rgba(6, 80, 133, 0.86)">
    
<table class="table table-hover">
    <tr>
        <th>
            <h4>
            @Html.DisplayNameFor(model => model.Titolo)
            </h4>
        </th>
        <th>
            <h4>
                @Html.DisplayNameFor(model => model.Descrizione)
            </h4>
        </th>
        <th>
            <h4>
                Giornale di Provenienza
            </h4>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="td-color">
            
            @Html.DisplayFor(modelItem => item.Titolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SitoProvenienza)
        </td>
        <td>
    </tr>
}

</table>
    </div>
</body>
